body {
  margin:0;
  background-image: url('river.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#grid {
  border-bottom: 2px solid black;
  display:grid;
}

h1 {
  text-align: center;
  font-weight: lighter;
}
.box {
  background: white center;
  display: block;
  padding : 30px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 20px gray;
}
a{
  color:gray;
  transition: background-color .5s;
}
a:hover{
  color: black;
  background-color: powderblue;
}
ol {
  margin : 1.5em;
}
